
@import "Utils/variables";
@import "Utils/mixins";
@import "Utils/keyframes";
@import "Layout/header";
@import "Components/explorer";
@import "Components/fonctionnement";
@import "Components/restaurant-cards";
@import "Layout/footer";
@import "Components/Restaurant-css/section-restaurants";


* {
    font-family: 'roboto', sans-serif;
}

.main-container {
    min-width: 320px;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}   

img {
    object-fit: cover;
    width: 100%;
}


