
@import "Layout/header";
@import "components/explorer";
@import "components/cards";
@import "Layout/footer";

* {
    font-family: 'roboto', sans-serif;
}

.main-container {
    max-width: 767px;
    min-width: 320px;
    box-sizing: border-box;
    padding: 0
}

body {
    margin: 0;
}






