
@import "Utils/variables";
@import "Utils/mixins";
@import "Layout/header";
@import "Components/explorer";
@import "Components/fonctionnement";
@import "Components/restaurant-cards";
@import "Layout/footer";
@import "Components/Restaurant-css/section-restaurants";


* {
    font-family: 'roboto', sans-serif;
}

.main-container {
    max-width: 767px;
    min-width: 320px;
    box-sizing: border-box;
    padding: 0;
    width: 100%;

    @media (min-width: 768px) {
        width: 100%;
        min-width: 768px;
        max-width: 1440px;
    }
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}   

img {
    object-fit: cover;
    width: 100%;
}


